<div class="container valign">
    <div class="row">
        <h3 class="left-align">QUI SUIS-JE ?</h3>
        <div class="col l12">
            <p class="flow-text grey-text text-darken-2">{{ intro }}</p>
            <a href="../files/cv.zip" class="waves-effect waves-light btn-large white-text"><i class="material-icons left">archive</i> CV</a>
        </div>
    </div>
</div>